<%- include('../partials/header') %>

<form action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat Number: </label>
    <input type="text" name="seat" placeholder="A1-F99" required><br>
    <label>Price $:</label>
    <input type="number" name="price" required><br>
    <button type="submit">Choose Seat</button>
</form>

<%- include('../partials/footer') %>