<%- include('../partials/header') %>
<!-- <h2><%= title %></h2> -->
<form action="/flights" method="POST">
    <label>Airline:
        <input type="text" name="airline">
    </label><br>
    <label>Airport:
        <input type="text" name="airport">
    </label><br>
    <label>Flight Number:
        <input type="text" name="flightNo">
    </label><br>
    <!-- <label>Departing:
        <input type="text" name="depart">
    </label><br> -->
    <button type="submit">Add Flight</button>
</form>
<p>
    <%= errorMsg %>
</p>
<%- include('../partials/footer') %>